.intro{
  background-image:url("images/introbg.webp");
  background-position-y: top;
  background-position:center center center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:900px;
  width:auto;
}
.introtext{
  font-size:50px;
  color:white;
  text-shadow:1px 1px 1px black;
  font-family:'Times New Roman', sans-serif, serif;
  text-decoration:none;
  text-align:center;
  padding-top: 300px;
}
body{
  background-image:url("images/homemainbg.webp");
  background-position:center center center;
  background-size:cover;
  background-repeat:repeat-x, repeat;
  background-attachment:fixed;
  height:auto;
  width:auto;
  text-align: center;
}
.links{
  position:sticky;
  font-size: 18px;
  color:white;
}
.mcontainer{
  box-shadow:inset 0 0 0 0 grey;
  background-color:transparent;
  border-radius:20px;
  border:1px solid transparent;
  display:inline-block;
  cursor:pointer;
  padding:20px;
  color:transparent;
  text-align:center;
  width:auto;
  height:auto;
  max-width:500px;
}
.mtext{
  color:white;
  text-shadow:1px 1px black;
  font-family:'Times New Roman', Times, serif;
  font-size:20px;
  text-decoration:none;
  text-align:center;
}
  .mclicky{
    box-shadow:inset 0 0 0 0 grey;
    background-color:transparent;
    border-radius:40px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    padding:12px;
    font-size:18px;
    color:white;
  }
  .imglink{
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .profile{
    height:auto; 
    width:auto; 
    max-height:120px; 
    max-width:120px; 
    border-radius: 50%; 
    cursor: none;
  }
  .eop{
    position:absolute;
    color:pink;
    text-shadow:1px 1px black;
    font-size:14px;
    bottom:auto;
    text-align: center;
  }
  .aeop{
    color: #c3f3b3;
  }
