.main{
  background-image: url("images/homemainbg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  width: auto;
  text-align: center;
}
.mcontainer{
  box-shadow:inset 0px 0px 0px 0px grey;
  background-color:transparent;
  border-radius:20px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  padding:20px;
  color:white;
  text-align: center;
  width: auto;
  max-width: 500px;
  height: auto;
}
.mtext{
  color: white;
  text-shadow: 1px 1px black;
  font-family: Times New Roman, serif;
  font-size: 20px;
  text-decoration: none;
}
.mclicky{
box-shadow:inset 0px 0px 0px 0px grey;
background-color:transparent;
border-radius:40px;
border:1px solid #ffffff;
display:inline-block;
cursor:pointer;
padding:12px;
font-size:18px;
color: white;
}
    .eop{
  position:absolute;
  color:pink;
  text-shadow: 1px 1px black;
  font-size:14px;
  bottom:auto;
}
